.header {
    background-color: #808080;
   display: flex;
  justify-content: space-between;
  align-items: center;   
  position: fixed;
  top: 0; 
  width: 100%;
  padding: 10px 0 10px 0;
}

.header-logo {
  font-size: 30px;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
}
.navbar {
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}
.navLink {
    font-size: 18px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  transition: color .1s linear;
}
.navLink:hover{
  color: blue;
}